{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static " assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static " assets/css/remixicon.css" %}">
    <link rel="stylesheet" href="{% static " assets/css/uicons-regular-rounded.css" %}">
    <link rel="stylesheet" href="{% static " assets/css/flaticon_baxo.css" %}">
    <link rel="stylesheet" href="{% static " assets/css/swiper.bundle.min.css" %}">
    <link rel="stylesheet" href="{% static " assets/css/aos.css" %}">
    <link rel="stylesheet" href="{% static " assets/css/header.css" %}">
    <link rel="stylesheet" href="{% static " assets/css/style.css" %}">
    <link rel="stylesheet" href="{% static " assets/css/footer.css" %}">
    <link rel="stylesheet" href="{% static " assets/css/responsive.css" %}">
    <link rel="stylesheet" href="{% static " assets/css/dark-theme.css" %}">
    <title>Baxo - Responsive Blog HTML Template</title>
    <link rel="icon" type="image/png" href="assets/img/favicon.webp">
</head>

<body>

    <div class="loader-wrapper">
        <div class="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>


    <div class="switch-theme-mode">
        <label id="switch" class="switch">
            <input type="checkbox" onchange="toggleTheme()" id="slider">
            <span class="slider round"></span>
        </label>
    </div>


    <div class="login-wrap">
        <div class="login-bg">
            <a href="index.html" class="navbar-brand">
                <img class="logo-light" src="{% static " assets/img/logo-white.webp" %}" alt="Image">
                <img class="logo-dark" src="{% static " assets/img/logo-white.webp" %}" alt="Image">
            </a>
        </div>
        <div class="login-content">
            <a href="index.html" class="link-one"><i class="ri-arrow-left-s-line"></i>Back</a>
            <div class="login-form">
                <h3>Welcome Back</h3>
                <div class="alt-login">
                    <a href="https://www.gmail.com"><img src="{% static " assets/img/icons/google.svg" %}"
                            alt="Image">Login With Google</a>
                    <a href="https://www.gmail.com"><img src="{% static " assets/img/icons/facebook-2.svg" %}"
                            alt="Image">Login With Facebook</a>
                </div>
                <div class="text-center">
                    <span class="or-text">OR</span>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="id_username" name="username" placeholder="Email Address" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="id_password" name="password" placeholder="Password" required>
                    </div>
                    
                    <button type="submit" class="btn-two w-100 d-block">Login</button>
                    <p class="login-text">Don't have an account?<a >Sign Up</a></p>
                </form>
            </div>
        </div>
    </div>


    <button type="button" id="backtotop" class="position-fixed text-center border-0 p-0">
        <i class="ri-arrow-up-line"></i>
    </button>

    <script src="{% static " assets/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static " assets/js/swiper.bundle.min.js" %}"></script>
    <script src="{% static " assets/js/aos.js" %}"></script>
    <script src="{% static " assets/js/main.js" %}"></script>
</body>

</html>wwwww